<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 3%;
    /* background: red; */
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding-top: 133px;
}

.products .product-box img {
    width: 47%;
    min-height: 400px;
}

.products .product-box {
    border: 0.2px solid;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    flex-basis: 30%;
    margin: 1%;
}

.products .product-box .title {
    display: flex;
    justify-content: space-between;

}

.products .product-box a {
    width:100%;
    background: green;
    border-radius: 5px;
    box-shadow: 0px 3px 9px 0px #0603038;
    color: #fff;
    padding: 3px 20px;
    text-decoration: none;
}


    </style>
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
</head>
<body style="font-family: 'Roboto', sans-serif;">
    <% include partials/navbar %>

    <div class="products">
        <% products.forEach((doc)=> {%>
        <div class="product-box">
            <img class="pimage" src=<%= doc.img%>>
            <p class="title">
                <span  style="font-size: 23px;color: grey;"><%= doc.pname %></span>
                <span >&#8377; <%= doc.price %></span>
            </p>

            <p class="description" style="text-align: left;"><%= doc.description %></p>
            <a  href="/checkout/<%= doc.pid %>" style="text-align: right;">Add To Cart</a>
            <a href="/viewproduct/<%= doc.pid %>" class="btn"  style="text-align: right;">View Product</a>

        </div>
        <% })%>
    </div>
    <% include partials/footer %>
</body>
<script>
   
</script>
</html>